<%- include("partials/header") -%>
<div class="containers">

<h1 class="Heading" >Home</h1>
<p><%= homeContent %></p>
<hr>
<% allPosts.forEach((e)=>{ %>
    <h2><%= e.Title %></h2>
    <p><%= e.Content.substring(0,80)+"....." %> 
    <a href = "/post/<%= e.key %>">READ MORE</a>
    </p>
<%  }); %>
</div>
<%- include("partials/footer") -%>